<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error has occurred </h1>
    <p>We are working on it to fix this</p>

<%- include('includes/end.ejs') %>